apiVersion: v1
kind: ConfigMap
metadata:
  name: ordemservico-config
data:
  # MongoDB Configuration
  MongoDB__ConnectionString: "__MONGODB_CONNECTION_STRING__"
  MongoDB__DatabaseName: "ordemservico_db"
  
  ASPNETCORE_ENVIRONMENT: "Development"
  ASPNETCORE_URLS: "http://+:8080"
  
  Jwt__Issuer: "OficinaMecanicaApi"
  Jwt__Audience: "AuthorizedServices"
  
  ApiCredentials__ClientId: "admin"

  # External Services URLs (for REST communication)
  ExternalServices__CadastroBaseUrl: "http://cadastro-service.default.svc.cluster.local"
  ExternalServices__EstoqueBaseUrl: "http://estoque-service.default.svc.cluster.local"

  # AWS SQS Configuration (will be populated from Terraform outputs)
  AWS__Region: "us-east-1"
  AWS__SQS__EstoqueReducaoSolicitacaoQueueUrl: "__SQS_ESTOQUE_REDUCAO_SOLICITACAO_URL__"
  AWS__SQS__EstoqueReducaoResultadoQueueUrl: "__SQS_ESTOQUE_REDUCAO_RESULTADO_URL__"

  NEW_RELIC_APP_NAME: "OrdemServicoService"
  NEW_RELIC_APPLICATION_LOGGING_ENABLED: "true"
  NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED: "true"
  NEW_RELIC_APPLICATION_LOGGING_CONTEXT_DATA_ENABLED: "true"
  NEW_RELIC_APPLICATION_LOGGING_METRICS_ENABLED: "true"
  NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: "true"
  NEW_RELIC_LOG_LEVEL: "info"
  
  CORECLR_ENABLE_PROFILING: "1"
  CORECLR_PROFILER: "{36032161-FFC0-4B61-B559-F6C5D41BAE5A}"
  CORECLR_PROFILER_PATH: "/usr/local/newrelic-dotnet-agent/libNewRelicProfiler.so"
  CORECLR_NEWRELIC_HOME: "/usr/local/newrelic-dotnet-agent"
