# Configuração .NET
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

# Conexão com o banco de dados PostgreSQL
DatabaseConnection__Host=postgres_db
DatabaseConnection__Port=5432
DatabaseConnection__DatabaseName=oficina_mecanica_db
DatabaseConnection__User=
DatabaseConnection__Password=

# Configuração JWT
Jwt__Key=
Jwt__Issuer=OficinaMecanicaApi
Jwt__Audience=AuthorizedServices

ApiCredentials__ClientId=
ApiCredentials__ClientSecret=

# Secret HMAC
Webhook__HmacSecret=
